.create-paper-area{
  width 100%
  display flex
  padding 10px
  /*.markdown-area, .display-area{
    display flex
    flex 1
    border 1px solid #e3e3e3

  }
  .markdown-area{
    textarea{
      width 100%
      outline none
    }
  }
  .display-area{
  }*/
}