.markdown-wrapper{
  width 100%
  border 1px solid #e3e3e3
  display flex
  .markdown-area, .display-area{
    width 50%
    border 1px solid #e3e3e3
  }
  .markdown-area{
    display flex
    .markdown-input{
      width 100%
      outline none
    }
  }
}